In [1]:
import sys

!pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [2]:
import pandas as pd

In [3]:
# Carregando dados tratados de avaliacao de professores e disciplinas do BTI
avaliacao_docencia_disciplinas = pd.read_csv('avaliacao_docencia_disciplinas.csv', sep=',');

# Deleta coluna nao utilizada
del avaliacao_docencia_disciplinas['Unnamed: 0']

In [4]:
avaliacao_docencia_disciplinas

,id_turma,letivo,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao
0,57574460,20161,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0
1,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0
2,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0
3,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0
4,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1
...,...,...,...,...,...,...,...,...,...,...,...
25236,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,3,1
25237,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,7,0
25238,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,4,0
25239,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,5,1
25240,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,4,0

In [5]:
# Carregando dados de todas as turmas de 2016.1 a 2018.2
todas_turmas_2016_2018 = pd.read_csv('todas_turmas_2016_2018.csv', sep=',');

# Deleta coluna nao utilizada
del todas_turmas_2016_2018['Unnamed: 0']
del todas_turmas_2016_2018['tipo']

In [6]:
todas_turmas_2016_2018

,id_turma,local,descricao_horario,total_solicitacoes,capacidade_aluno,letivo
0,57562257,NaN,NaN,NaN,NaN,20161
1,57562257,NaN,NaN,NaN,NaN,20161
2,57562261,NaN,NaN,NaN,NaN,20161
3,57562261,NaN,NaN,NaN,NaN,20161
4,57562265,NaN,NaN,NaN,NaN,20161
...,...,...,...,...,...,...
87750,57646828,NaN,NaN,NaN,NaN,20182
87751,57646828,NaN,NaN,NaN,NaN,20182
87752,57646829,NaN,NaN,NaN,NaN,20182
87753,57646829,NaN,NaN,NaN,NaN,20182
87754,57646829,NaN,NaN,NaN,NaN,20182

In [7]:
# Realizando merge das duas bases de dados
merged_infos = pd.merge(avaliacao_docencia_disciplinas, todas_turmas_2016_2018, on=["id_turma", "letivo"], how="left")

In [8]:
# Convertendo colunas de float para int
import numpy as np
merged_infos['total_solicitacoes'] = merged_infos['total_solicitacoes'].astype(np.int64)
merged_infos['capacidade_aluno'] = merged_infos['capacidade_aluno'].astype(np.int64)

In [9]:
merged_infos.head()

,id_turma,letivo,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao,local,descricao_horario,total_solicitacoes,capacidade_aluno
0,57574460,20161,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0,3B5,246T34,17,60
1,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45,60
2,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45,60
3,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45,60
4,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45,60

In [10]:
merged_infos.dtypes

id_turma                        int64
letivo                          int64
nome_docente                   object
postura_profissional_media    float64
postura_profissional_DP       float64
atuacao_profissional_media    float64
atuacao_profissional_DP       float64
autoavaliacao_aluno_media     float64
autoavaliacao_aluno_DP        float64
qtd_disciplina                  int64
situacao                        int64
local                          object
descricao_horario              object
total_solicitacoes              int64
capacidade_aluno                int64
dtype: object

In [54]:
# Exportando dataset com dados após merge
merged_infos.to_csv("dataset_final.csv", sep=",")

# merged_infos['descricao_horario'].unique()

In [11]:
import numpy as np
merged_infos['total_solicitacoes'] = merged_infos['total_solicitacoes'].astype(np.int64)
merged_infos['capacidade_aluno'] = merged_infos['capacidade_aluno'].astype(np.int64)

In [37]:
# Categorizando por "departamentos"
def categorize(df):
    local = df.upper()
    if ("SETOR 4" in local) or ("SETOR V" in local) or local.startswith('V') or local.startswith('4'):
        return 'SETOR 4'
    elif ("SETOR 3" in local) or ("SETOR III" in local) or local.startswith('III') or local.startswith('3'):
        return 'SETOR 3'
    elif ("SETOR 2" in local) or ("SETOR II" in local) or local.startswith('II') or local.startswith('2'):
        return 'SETOR 2'
    elif ("SETOR 1" in local) or ("SETOR I" in local) or local.startswith('I') or local.startswith('1'):
        return 'SETOR 1'
    elif ("ECT" in local) or local.startswith("AUD"):
        return 'ECT'
    elif ("IMD" in local) or ("CVIT" in local) or ("NPITI" in local) or local.startswith('A') or local.startswith('B'):
        return 'IMD'
    elif ("DIMAP" in local) or ("LCC" in local):
        return 'DIMAP'
    elif ("DEART" in local):
        return 'DEART'
    elif ("SALA DE AULA" in local) or local.startswith("SALA DE AULA"):
        return 'DEF'
    else:
        return 'OUTRO'

merged_infos['departamento'] = merged_infos['local'].apply(categorize)

In [38]:
merged_infos.departamento.unique()

array(['SETOR 3', 'OUTRO', 'SETOR 2', 'SETOR 4', 'SETOR 1', 'IMD',
       'DEART', 'ECT', 'DEF', 'DIMAP'], dtype=object)

In [57]:
sub ='N'

merged_infos['noturno'] = (merged_infos.descricao_horario.str.find(sub) != -1)

merged_infos.dtypes

id_turma                        int64
letivo                          int64
nome_docente                   object
postura_profissional_media    float64
postura_profissional_DP       float64
atuacao_profissional_media    float64
atuacao_profissional_DP       float64
autoavaliacao_aluno_media     float64
autoavaliacao_aluno_DP        float64
qtd_disciplina                  int64
situacao                        int64
local                          object
descricao_horario              object
total_solicitacoes              int64
capacidade_aluno                int64
noturno                          bool
dtype: object

In [58]:
# Exportando dataset com dados após merge
merged_infos.to_csv("dataset_final.csv", sep=",")