In [1]:
import sys

!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/63/e0/a1b39cdcb2c391f087a1538bc8a6d62a82d0439693192aef541d7b123769/pandas-0.25.3-cp37-cp37m-manylinux1_x86_64.whl (10.4MB)
     |████████████████████████████████| 10.4MB 3.4MB/s eta 0:00:01
Collecting numpy>=1.13.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/9b/af/4fc72f9d38e43b092e91e5b8cb9956d25b2e3ff8c75aed95df5569e4734e/numpy-1.17.4-cp37-cp37m-manylinux1_x86_64.whl (20.0MB)
     |████████████████████████████████| 20.0MB 284kB/s  eta 0:00:01
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
     |████████████████████████████████| 512kB 39.3MB/s eta 0:00:01          | 225kB 39.3MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.17.4 pandas-0.25.3 pytz-2019.3

In [2]:
import pandas as pd

In [3]:
# Carregando dados tratados de avaliacao de professores e disciplinas do BTI
avaliacao_docencia_disciplinas = pd.read_csv('avaliacao_docencia_disciplinas.csv', sep=',');

# Deleta coluna nao utilizada
del avaliacao_docencia_disciplinas['Unnamed: 0']

In [4]:
avaliacao_docencia_disciplinas

,id_turma,letivo,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao
0,57574460,20161,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0
1,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0
2,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0
3,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0
4,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1
...,...,...,...,...,...,...,...,...,...,...,...
25236,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,3,1
25237,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,7,0
25238,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,4,0
25239,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,5,1
25240,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,4,0

In [5]:
# Carregando dados de todas as turmas de 2016.1 a 2018.2
todas_turmas_2016_2018 = pd.read_csv('todas_turmas_2016_2018.csv', sep=',');

# Deleta coluna nao utilizada
del todas_turmas_2016_2018['Unnamed: 0']

In [6]:
todas_turmas_2016_2018

,id_turma,local,descricao_horario,total_solicitacoes,capacidade_aluno,tipo,letivo
0,57562257,NaN,NaN,NaN,NaN,REGULAR,20161
1,57562257,NaN,NaN,NaN,NaN,REGULAR,20161
2,57562261,NaN,NaN,NaN,NaN,REGULAR,20161
3,57562261,NaN,NaN,NaN,NaN,REGULAR,20161
4,57562265,NaN,NaN,NaN,NaN,REGULAR,20161
...,...,...,...,...,...,...,...
87750,57646828,NaN,NaN,NaN,NaN,REGULAR,20182
87751,57646828,NaN,NaN,NaN,NaN,REGULAR,20182
87752,57646829,NaN,NaN,NaN,NaN,REGULAR,20182
87753,57646829,NaN,NaN,NaN,NaN,REGULAR,20182
87754,57646829,NaN,NaN,NaN,NaN,REGULAR,20182

In [36]:
# Realizando merge das duas bases de dados
merged_infos = pd.merge(avaliacao_docencia_disciplinas, todas_turmas_2016_2018, on=["id_turma", "letivo"], how="left")

In [37]:
merged_infos.head()

,id_turma,letivo,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao,local,descricao_horario,total_solicitacoes,capacidade_aluno,tipo
0,57574460,20161,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0,3B5,246T34,17.0,60.0,REGULAR
1,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR
2,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR
3,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR
4,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR

In [38]:
# Exportando dataset com dados após merge
# merged_infos.to_csv("dataset_final.csv", sep=",")

# merged_infos['descricao_horario'].unique()

In [39]:
merged_infos.dtypes

id_turma                        int64
letivo                          int64
nome_docente                   object
postura_profissional_media    float64
postura_profissional_DP       float64
atuacao_profissional_media    float64
atuacao_profissional_DP       float64
autoavaliacao_aluno_media     float64
autoavaliacao_aluno_DP        float64
qtd_disciplina                  int64
situacao                        int64
local                          object
descricao_horario              object
total_solicitacoes            float64
capacidade_aluno              float64
tipo                           object
dtype: object

In [40]:
merged_infos

,id_turma,letivo,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao,local,descricao_horario,total_solicitacoes,capacidade_aluno,tipo
0,57574460,20161,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0,3B5,246T34,17.0,60.0,REGULAR
1,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR
2,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR
3,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR
4,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1,CIVT - A306,246N12 (01/02/2016 - 18/06/2016),45.0,60.0,REGULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31054,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,3,1,CIVT - A102,35N34 (30/07/2018 - 22/12/2018),65.0,40.0,REGULAR
31055,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,7,0,CIVT - A102,35N34 (30/07/2018 - 22/12/2018),65.0,40.0,REGULAR
31056,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,4,0,CIVT - A102,35N34 (30/07/2018 - 22/12/2018),65.0,40.0,REGULAR
31057,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,5,1,CIVT - A102,35N34 (30/07/2018 - 22/12/2018),65.0,40.0,REGULAR
31058,57628437,20182,CARLOS EDUARDO DE BARROS SANTOS JÚNIOR,9.66,0.71,9.59,0.86,8.40,2.40,4,0,CIVT - A102,35N34 (30/07/2018 - 22/12/2018),65.0,40.0,REGULAR