In [1]:
import sys

!pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [2]:
import pandas as pd

In [4]:
# Carregando dados do arquivo csv
df_analise = pd.read_csv('dataset_filtrado.csv', sep=',');

# Deleta coluna nao utilizada
del df_analise['Unnamed: 0']

df_analise.head()

,id_turma,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao
0,57574460,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0
1,57576591,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0
2,57576591,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0
3,57576591,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0
4,57576591,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1