In [50]:
import sys

!pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [51]:
import pandas as pd

In [52]:
# Carregando dados tratados de avaliacao de professores e disciplinas do BTI
avaliacao_docencia_disciplinas = pd.read_csv('avaliacao_docencia_disciplinas.csv', sep=',');

# Deleta coluna nao utilizada
del avaliacao_docencia_disciplinas['Unnamed: 0']

In [53]:
avaliacao_docencia_disciplinas.head()

,id_turma,letivo,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao
0,57574460,20161,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0
1,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0
2,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0
3,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0
4,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1

In [73]:
# Carregando dados de todas as turmas de 2016.1 a 2018.2
todas_turmas_2016_2018 = pd.read_csv('todas_turmas_2016_2018.csv', sep=',');

# Deleta colunas nao utilizadas
del todas_turmas_2016_2018['Unnamed: 0']
del todas_turmas_2016_2018['tipo']

In [74]:
todas_turmas_2016_2018.head()

,id_turma,local,descricao_horario,total_solicitacoes,capacidade_aluno,letivo
0,57562257,NaN,NaN,NaN,NaN,20161
1,57562257,NaN,NaN,NaN,NaN,20161
2,57562261,NaN,NaN,NaN,NaN,20161
3,57562261,NaN,NaN,NaN,NaN,20161
4,57562265,NaN,NaN,NaN,NaN,20161

In [75]:
# Realizando merge das duas bases de dados por id_turma e letivo
merged_infos = pd.merge(avaliacao_docencia_disciplinas, todas_turmas_2016_2018, on=["id_turma", "letivo"], how="left")

In [76]:
# Convertendo colunas de float para int
import numpy as np
merged_infos['total_solicitacoes'] = merged_infos['total_solicitacoes'].astype(np.int64)
merged_infos['capacidade_aluno'] = merged_infos['capacidade_aluno'].astype(np.int64)

In [77]:
merged_infos.dtypes

id_turma                        int64
letivo                          int64
nome_docente                   object
postura_profissional_media    float64
postura_profissional_DP       float64
atuacao_profissional_media    float64
atuacao_profissional_DP       float64
autoavaliacao_aluno_media     float64
autoavaliacao_aluno_DP        float64
qtd_disciplina                  int64
situacao                        int64
local                          object
descricao_horario              object
total_solicitacoes              int64
capacidade_aluno                int64
dtype: object

In [78]:
# Categorizando por local de aula
# 1 para SETOR 1
# 2 para SETOR 2
# 3 para SETOR 3
# 4 para SETOR 4
# 5 para DEART
# 6 para ECT
# 7 para DEF (DEPARTAMENTO DE EDUCAÇÃO FISICA)
# 8 para IMD
# 9 para DIMAP
# 10 para OUTROS

def categorize(df):
    local = df.upper()
    if ("SETOR 4" in local) or ("SETOR V" in local) or local.startswith('V') or local.startswith('4'):
        return 4
    elif ("SETOR 3" in local) or ("SETOR III" in local) or local.startswith('III') or local.startswith('3'):
        return 3
    elif ("SETOR 2" in local) or ("SETOR II" in local) or local.startswith('II') or local.startswith('2'):
        return 2
    elif ("SETOR 1" in local) or ("SETOR I" in local) or local.startswith('I') or local.startswith('1'):
        return 1
    elif ("ECT" in local) or local.startswith("AUD"):
        return 6
    elif ("IMD" in local) or ("CVIT" in local) or ("NPITI" in local) or local.startswith('A') or local.startswith('B'):
        return 8
    elif ("DIMAP" in local) or ("LCC" in local):
        return 9
    elif ("DEART" in local):
        return 5
    elif ("SALA DE AULA" in local) or local.startswith("SALA DE AULA"):
        return 7
    else:
        return 10

merged_infos['local'] = merged_infos['local'].apply(categorize)

In [79]:
merged_infos['local'].unique()

array([ 3, 10,  2,  4,  1,  8,  5,  6,  7,  9])

In [80]:
merged_infos.head()

,id_turma,letivo,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,situacao,local,descricao_horario,total_solicitacoes,capacidade_aluno
0,57574460,20161,ALVARO FREIRE DAMASCENO,9.81,0.54,8.44,1.52,8.61,2.13,6,0,3,246T34,17,60
1,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,0,10,246N12 (01/02/2016 - 18/06/2016),45,60
2,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,6,0,10,246N12 (01/02/2016 - 18/06/2016),45,60
3,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,4,0,10,246N12 (01/02/2016 - 18/06/2016),45,60
4,57576591,20161,RAFAELA HORACINA SILVA ROCHA SOARES,7.38,2.12,7.83,2.22,7.76,2.70,3,1,10,246N12 (01/02/2016 - 18/06/2016),45,60

In [81]:
# Categorizando por horário
# 1 para manhã
# 2 para tarde
# 3 para noite

def categorize(df):
    horario = df.upper()
    if ("M" in horario):
        return 1
    elif ("T" in horario):
        return 2
    else:
        return 3

merged_infos['turno'] = merged_infos['descricao_horario'].apply(categorize)

In [82]:
# Deleta coluna nao utilizada
del merged_infos['descricao_horario']

In [83]:
merged_infos.dtypes

id_turma                        int64
letivo                          int64
nome_docente                   object
postura_profissional_media    float64
postura_profissional_DP       float64
atuacao_profissional_media    float64
atuacao_profissional_DP       float64
autoavaliacao_aluno_media     float64
autoavaliacao_aluno_DP        float64
qtd_disciplina                  int64
situacao                        int64
local                           int64
total_solicitacoes              int64
capacidade_aluno                int64
turno                           int64
dtype: object

In [84]:
# Exportando dataset final com dados tratados
merged_infos.to_csv("dataset_final.csv", sep=",")

In [85]:
# Instalando dependencias
!pip install sklearn

Requirement already satisfied: sklearn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /srv/conda/envs/notebook/lib/python3.7/site-packages (from sklearn) (0.21.3)
Requirement already satisfied: joblib>=0.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.14.0)
Requirement already satisfied: numpy>=1.11.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.17.4)
Requirement already satisfied: scipy>=0.17.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.3.3)

In [86]:
# Fazendo copia
nova_entrada = merged_infos.loc[:, ['nome_docente', 'postura_profissional_media', 'postura_profissional_DP', 'atuacao_profissional_media', 'atuacao_profissional_DP', 'autoavaliacao_aluno_media', 'autoavaliacao_aluno_DP', 'qtd_disciplina', 'local', 'turno', 'total_solicitacoes', 'capacidade_aluno', 'situacao']]

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column_name in nova_entrada.columns:
    if nova_entrada[column_name].dtype == object:
        nova_entrada[column_name] = le.fit_transform(nova_entrada[column_name])
    else:
        pass

nova_entrada.head()

,nome_docente,postura_profissional_media,postura_profissional_DP,atuacao_profissional_media,atuacao_profissional_DP,autoavaliacao_aluno_media,autoavaliacao_aluno_DP,qtd_disciplina,local,turno,total_solicitacoes,capacidade_aluno,situacao
0,17,9.81,0.54,8.44,1.52,8.61,2.13,6,3,2,17,60,0
1,308,7.38,2.12,7.83,2.22,7.76,2.70,3,10,3,45,60,0
2,308,7.38,2.12,7.83,2.22,7.76,2.70,6,10,3,45,60,0
3,308,7.38,2.12,7.83,2.22,7.76,2.70,4,10,3,45,60,0
4,308,7.38,2.12,7.83,2.22,7.76,2.70,3,10,3,45,60,1

In [ ]:
nova_entrada.dtypes

In [87]:
# Separando as variéveis entre preditoras e variável alvo
y = nova_entrada['situacao']
x = nova_entrada.drop('situacao', axis=1)
print(y)

0        0
1        0
2        0
3        0
4        1
        ..
31054    1
31055    0
31056    0
31057    1
31058    0
Name: situacao, Length: 31059, dtype: int64

In [88]:
from sklearn.model_selection import train_test_split

# Criando conjunto de dados de treino e de teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [93]:
from sklearn.ensemble import ExtraTreesClassifier

# Criação do modelo
modelo = ExtraTreesClassifier(n_estimators=100)
modelo.fit(x_treino, y_treino)

# Imprimindo resultados
resultado = modelo.score(x_teste, y_teste)
print('Acurácia: ', resultado)

Acurácia:  0.708950418544752